body {
    margin: 0;
    text-align: center;
}

h1 {
    color: red;
    size: 50rem;
    text-align: center;
}

img {
    width:100%;
    height:100%;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
}



#nav {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
    grid-gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

#top {
    background-color: pink;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
}

#splash {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./images/bcn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: pink;
}

.splash-text {
    text-align: center;
    /* align-items: absolute; */
    color: white;
    /* left: 10px; */
    /* top: 6px; */
}


#where {
    text-align: center;
}


/* mustvisit big screen */

.imgbcn {
    width:100%;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

/* smaller screens */
@media all and (max-width: 700px){
    .imgbcn {
        grid-template-columns: repeat(3, 1fr);
    }
    .imgbig {
        grid-column: 1 / 4;
    }
}

@media all and (max-width: 500px){
    .imgbcn {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 400px){
    .imgbcn {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* Must try big screen  */


.food1 {
    width: 400px;
    position: relative;
    left: 20px;
    top: 10px;
    padding: 10px;
}

.food2 {
    width: 400px;
    position: relative;
    left: 20px;
    top: 10px;
    padding: 10px;
}

.food3 {
    width: 400px;
    position: relative;
    left: 20px;
    top: 10px;
    padding: 10px;
}

.food4 {
    width: 400px;
    position: relative;
    left: 20px;
    top: 10px;
    padding: 10px;
}


/* musttry big screen */

.food {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    padding: 10px;
}


/* smaller screens */
/* @media all and (max-width: 700px){
    #must-try {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (max-width: 500px){
    #must-try {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 400px){
    #must-try {
        grid-template-columns: repeat(1, 1fr);
    }
} */


/* #must-do {
    position: relative;
    width:100%;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
} */